

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    margin-bottom: 1.3em;
}

#aligner {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height:100%;
}

#pal {
    /*background-color: #f8f7f1;*/
    background: #ffffff;
    border-radius: 5px;
    padding: 1em 10px;
    max-width:95%;
    text-align:center;
}

form {
    margin-top: 1em;
}

#url, #shortenbtn {
    padding: 3px;
    text-align: center;
    border: 1px solid lightgray;
    display: inline-block;
    border-radius: 0;
    -webkit-appearance: none;

}

#shortenbtn {
    display: inline-flex;
    align-items: center;
    border: 1px solid transparent;
}

#shortenbtn::-moz-focus-inner {
    border: 0;
    padding: 0;
}



input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 0 0;
}

#footer {
    text-align: center;
    position: fixed;
    height: 1.3em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-size: 0.8em;
}



a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.footer-space {
    margin: 0;
}