body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
}

#aligner {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height:100%;
}

#pal {
    /*background-color: #f8f7f1;*/
    background: #ffffff;
    border-radius: 5px;
    padding: 1em 10px;
    max-width:50%;
    text-align:center;
}

form {
    margin-top: 1em;

}

#url {
    font-family: inherit;
    text-align: center;
    background-color: #eeebdc;
    height: 33%;
    border: none;
}

#shortenbtn {
    font-family: inherit;
    background-color: #c1c1bf;
    height: 33%;
    border: none;
}



input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 0 0;
}

#footer {
    position:fixed;
    bottom:0%;
    left:50%;
    transform: translateX(-50%);
    font-size:1em;
    margin-bottom:3px;
}



a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;

}
