<!--
To use this layout, the following variables must be set in the child template:
action: Where the form should send the POST request to (e.g. '/')
action_label: Label for the form's submit button
    The following are optional:
footer_url2: Url to link to in second footer link
footer_url2_label: Label to display for the second footer link
-->

<head>
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>URLShort - {{ header }}</title>
</head>
<body>
<div id="aligner">
    <div id ="pal">
        URLShort
        <form method="POST" action="{{ action }}">
            {{ form.csrf_token }}
            {{ form.url }}<input id="shortenbtn" type="submit" value="{{ action_label }}">
        </form>

        {% with messages = get_flashed_messages() %}
        {% if form.errors %}
            <p class="flashes">{{ URLValidationError }}</p>
        {% elif messages %}
            {% for message in messages %}
                <p class="flashes"><a id="short" href="{{ message }}">{{ message }}</a></p>
            {% endfor %}
        {% else %}
            <p class="flashes">&nbsp</p>
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="footer">
    <a href="https://www.github.com/hur/urlshort/">GitHub Source</a>
    {% if footer_url2 is defined and footer_url2_label is defined %}
    <span id="footer-space">-</span>
    <a href={{ footer_url2 }}>{{ footer_url2_label }}</a>
    {% endif %}
</div>
</body>

